@model TestDoAnWeb.Models.CauHoi

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/GiangVien/Views/Shared/_GiangVienLayout.cshtml";
}

<h2>Thông tin chi tiết</h2>

<div>
    <h4>Câu hỏi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NoiDung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoiDung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DapAnA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DapAnA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DapAnB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DapAnB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DapAnC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DapAnC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DapAnD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DapAnD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CauTraLoiDung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CauTraLoiDung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaoVien.HoTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaoVien.HoTen)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.MaCauHoi }) |
    @Html.ActionLink("Quay lại", "Index")
</p>
