@model IEnumerable<TestDoAnWeb.Models.CauHois>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/GiangVien/Views/Shared/_GiangVienLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NoiDung)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeThi.TenMonThi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiaoVien.HoTen)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NoiDung)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeThi.TenMonThi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiaoVien.HoTen)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaCauHoi }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaCauHoi }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaCauHoi })
        </td>
    </tr>
}

</table>
