@model IEnumerable<TestDoAnWeb.Models.CauHois>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/GiangVien/Views/Shared/_GiangVienLayout.cshtml";
}

<h2 style="margin-left: 20px;">Danh sách câu hỏi</h2>

<div style="display: flex;justify-content: space-between;">
    <p style="margin-left: 20px;">
        @Html.ActionLink("Thêm mới", "Create")
    </p>
    <p style="margin-right: 20px;">
        @using (Html.BeginForm("ThemTuExcel", "CauHois", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            
            <div class="form-group col-md-6">
                <input class="form-control" type="file" id="formFile" name="formFile" value="Chọn file">
            </div>
            <div class="form-group col-md-6">
                <input type="submit" value="Thêm từ file Excel" class="btn btn-default" />
            </div>
        }
        @*@Html.ActionLink("Xem chi tiết Lựa chọn", "Index", "CauHoi_LuaChon")*@
    </p>
</div>
<div style="margin: 10px;">
    <table class="table">
        <tr>
            <th>
                Nội dung
            </th>
            <th>
                Họ Tên Giảng viên
            </th>
            <th>
                Lựa chọn 1
            </th>
            <th>
                Lựa chọn 2
            </th>
            <th>
                Lựa chọn 3
            </th>
            <th>
                Lựa chọn 4
            </th>
            <th>
                Đáp án
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NoiDung)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiaoVien.HoTen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CauHoi_LuaChon.OrderBy(ii => ii.MaLuaChon).FirstOrDefault().LuaChon.NoiDung)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CauHoi_LuaChon.OrderBy(ii => ii.MaLuaChon).Skip(1).FirstOrDefault().LuaChon.NoiDung)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CauHoi_LuaChon.OrderBy(ii => ii.MaLuaChon).Skip(2).FirstOrDefault().LuaChon.NoiDung)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CauHoi_LuaChon.OrderBy(ii => ii.MaLuaChon).Skip(3).FirstOrDefault().LuaChon.NoiDung)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CauHoi_LuaChon.Where(chlc => chlc.CauTraLoi).FirstOrDefault().LuaChon.NoiDung)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id = item.MaCauHoi }) |
            @Html.ActionLink("Chi tiết", "Details", new { id = item.MaCauHoi }) |
            @Html.ActionLink("Xóa", "Delete", new { id = item.MaCauHoi })
        </td>
    </tr>
        }

    </table>
</div>
