@model IEnumerable<TestDoAnWeb.Models.CauHoi>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/GiangVien/Views/Shared/_GiangVienLayout.cshtml";
}

<div style="display:block; margin-left: 30px;">
    <h2>Danh sách câu hỏi</h2>

    @Html.ActionLink("Thêm mới", "Create", null, new { style = "text-decoration:none; color: #5CC6FF;" })
    
</div>


        <table class="table">
            <tr>
                <th>
                    Nội dung
                </th>
                <th>
                    Đáp án A
                </th>
                <th>
                    Đáp án B
                </th>
                <th>
                    Đáp án C
                </th>
                <th>
                    Đáp án D
                </th>
                <th>
                    Câu trả lời đúng
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NoiDung)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DapAnA)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DapAnB)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DapAnC)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DapAnD)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CauTraLoiDung)
                    </td>
                    <td>
                        @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.MaCauHoi }) |
                        @Html.ActionLink("Chi tiết", "Details", new { id = item.MaCauHoi }) |
                        @Html.ActionLink("Xóa", "Delete", new { id = item.MaCauHoi })
                    </td>
                </tr>
            }

        </table>

