@model TestDoAnWeb.Models.DeThi

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/GiangVien/Views/Shared/_GiangVienLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DeThi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenMonThi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenMonThi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayThi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayThi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoCauHoi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoCauHoi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThoiHanDeThi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThoiHanDeThi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThoiGianLamBai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThoiGianLamBai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KhoaHoc.TenKhoaHoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhoaHoc.TenKhoaHoc)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
