@model TestDoAnWeb.Models.DeThi

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/GiangVien/Views/Shared/_GiangVienLayout.cshtml";
}

<h2>Thông tin chi tiết</h2>

<div>
    <h4>Đề thi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenMonThi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenMonThi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayThi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayThi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoCauHoi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoCauHoi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MonThi.TenKiThi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonThi.TenKiThi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.MaDeThi }) |
    @Html.ActionLink("Quay lại", "Index")
</p>
