@model IEnumerable<TestDoAnWeb.Models.DeThi>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/GiangVien/Views/Shared/_GiangVienLayout.cshtml";
}

<h2>Danh sách đề thi</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tên môn thi
            @*@Html.DisplayNameFor(model => model.TenMonThi)*@
        </th>
        <th>
            Ngày thi
            @*@Html.DisplayNameFor(model => model.NgayThi)*@
        </th>
        <th>
            Số Câu hỏi
            @*@Html.DisplayNameFor(model => model.SoCauHoi)*@
        </th>
        <th>
            Thời hạn đề thi
            @*@Html.DisplayNameFor(model => model.ThoiHanDeThi)*@
        </th>
        <th>
            Thời gian làm bài thi
            @*@Html.DisplayNameFor(model => model.ThoiGianLamBai)*@
        </th>
        <th>
            Tên khóa học
            @*@Html.DisplayNameFor(model => model.KhoaHoc.TenKhoaHoc)*@
        </th>
        <th></th>
    </tr>
    <tbody id="tblDeThis"></tbody>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenMonThi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayThi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoCauHoi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThoiHanDeThi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThoiGianLamBai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KhoaHoc.TenKhoaHoc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaDeThi }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaDeThi }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaDeThi })
        </td>
    </tr>
}

</table>

