@model TestDoAnWeb.Models.DeThi_CauHoi

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/GiangVien/Views/Shared/_GiangVienLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DeThi_CauHoi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CauHoi.NoiDung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CauHoi.NoiDung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeThi.TenMonThi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeThi.TenMonThi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaDeThi }) |
    @Html.ActionLink("Back to List", "Index")
</p>
