@model IEnumerable<TestDoAnWeb.Models.DeThi_CauHoi>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/GiangVien/Views/Shared/_GiangVienLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CauHoi.NoiDung)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeThi.TenMonThi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CauHoi.NoiDung)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeThi.TenMonThi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaDeThi }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaDeThi }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaDeThi })
        </td>
    </tr>
}

</table>
