@model IEnumerable<TestDoAnWeb.Models.DeThi>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách bài thi</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenMonThi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayThi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoCauHoi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThoiHanDeThi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThoiGianLamBai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KhoaHoc.TenKhoaHoc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenMonThi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayThi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoCauHoi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThoiHanDeThi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThoiGianLamBai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KhoaHoc.TenKhoaHoc)
        </td>
        <td>
            <a href="/Dethis/Details/@item.MaDeThi" class="btn btn-default">Làm Bài</a>

        </td>
    </tr>
}

</table>
